@media screen and (max-width: 575px) {
    body {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    nav {
        display: flex;
        align-items: center;
    }
    h1 {
        display: flex;
        justify-content: center;
    }
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1em auto;
        align-items: center;
    }
    nav li {
        background-color: lightgray;
        width: 100%;
        margin: 1em;
        padding: .5em 2em;
        flex-direction: column;
        /*align-items: center;*/
    }
    img {
        width: 100%
    }
    div {
        display: flex;
        justify-content: center;
    }
    /*.nav-links{*/
    /*    justify-content: center;*/
    /*}*/
}